# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dev-debug.log

# Dependency directories
node_modules/

# Environment variables
.env

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
ai-studio-design-v4.
history.md
# OS specific
.DS_Store
ai-studio-design-v4.html 
PreviewArea_dd3d497.txt 
diff_engine.txt 
diff_preview.txt 
fix.ps1 
fix2.ps1 
